@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 221 42% 41%; /* +30 L */
    --foreground: 216 13% 94%; /* déjà clair, +10 L */
    --foreground-secondary: 220 14% 96%;
  
    --card: 215 31% 47%;
    --card-fg: 216 13% 94%;
  
    --gradient-a: 210 71% 43%;
    --gradient-b: 210.67 79% 41%;
  
    --blur: 187.8 100% 58% / 0.3;
  
    --bio: 186.2 96% 91%;
  
    --hero-button: 189.48 100% 53%;
    --hero-button-hover: 192.32 100% 46%;
  
    --navbar-emphasis: 216.94 21% 57%;
  
    --primary: 214.99 31% 47%;
    --primary-fg: 180 0% 100%;
  
    --secondary: 217.2 32.6% 47.5%;
    --secondary-fg: 187.8 100% 68%;
    --secondary-emphasis-fg: 186.71 97% 76%;
  
    --muted-primary: 216.94 21% 57%;
    --muted-primary-fg: 217.9 12% 74%;
    --muted-secondary: 217.2 32.6% 47.5%;
    --muted-secondary-fg: 220.03 10% 66%;
  
    --accent: 217.2 32.6% 47.5%;
    --accent-fg: 210 40% 100%;
  
    --destructive: 360 63% 61%;
    --destructive-fg: 358.75 100% 80%;
  
    --border: 217.2 32.6% 47.5%;
    --border-pickture: 187.8 100% 68%;
  
    --chat-explanation: 138.46 77% 97%; /* quasi identique */
    --chat-explanation-fg: 147.72 97% 40%;
    --chat-explanation-border: 141.14 81% 95%;
    --chat-input: 212.7 26.8% 93.9%;
    --chat-ring: 212.7 26.8% 93.9%;
    --chat-shadow: none 0% 0% / 0.3;
    --chat-button-primary: 180 0% 100%;
    --chat-button-primary-fg: 240 5.9% 30%;
  
    --radius: 0.5rem;
  
    /* Skills */
    --skills: 192.77 100% 48.9999%;
  
    --skills-projects: 195.82 72% 43%;
    --skills-projects-fg: 186.2 96% 91%;
  
    --skills-primary-fg: 211.97 100% 76%;
    --skills-primary: 224.86 67% 53% / 0.2;
    --skills-primary-border: 216.26 100% 67.9999% / 0.3;
  
    --skills-secondary-fg: 150.06 96% 55%;
    --skills-secondary: 145.73 73% 39% / 0.2;
    --skills-secondary-border: 144.07 100% 49% /0.3;
  
    --skills-tertiary-fg: 272.26 100% 84%;
    --skills-tertiary: 274.52 72% 42% / 0.2;
    --skills-tertiary-border: 273.3 100% 74% / 0.3;
  
    --skills-quaternary-fg: 31.79 100% 61%;
    --skills-quaternary: 15.99 83% 47% / 0.2;
    --skills-quaternary-border: 24.65 100% 60% / 0.3;
  
    --skills-quinary-fg: 187.8 100% 58%;
    --skills-quinary: 195.82 72% 43% / 0.2;
    --skills-quinary-border: 189.48 100% 53% / 0.3;
  
    --skills-senary-fg: 216 13% 94%;
    --skills-senary: 216.94 21% 57% / 0.2;
    --skills-senary-border: 220.03 10% 66% / 0.3;
  
    --skills-legende: 216.94 21% 57%;
    --skills-legende-fg: 216 13% 94%;
  }

  .dark {
    --background: 221 42% 11%; /*gray-900*/
    --foreground: 216 13% 84%; /*gray-300*/
    --foreground-secondary: 220 14.000000000000002% 91%; /*gray-200*/

    --card: 214.99 31% 17%; /*gray-800*/
    --card-fg: 216 13% 84%; /*gray-300*/
    
    --gradient-a: 210 71% 13%;
    --gradient-b: 210.67 79% 11%;

    --blur: 187.8 100% 48% / 0.3; /*cyan-400/30*/

    --bio: 186.2 96% 81%; /*cyan-200*/

    --hero-button: 189.48 100% 43%; /*cyan-500*/
    --hero-button-hover: 192.32 100% 36%; /*cyan-600*/

    --navbar-emphasis: 216.94 21% 27%; /*gray-700*/

    --primary: 214.99 31% 17%; /*gray-800*/
    --primary-fg: 180 0% 100%; /*white*/

    --secondary: 217.2 32.6% 17.5%; /*I don't know*/
    --secondary-fg: 187.8 100% 48%; /*cyan-400*/
    --secondary-emphasis-fg: 186.71 97% 66%; /*cyan-300*/ /*emphasis because hover is reserved by the language*/

    --muted-primary: 216.94 21% 27%; /*gray-700*/
    --muted-primary-fg: 217.9 12% 64%; /*gray-400*/
    --muted-secondary: 217.2 32.6% 17.5%; /*I don't know*/
    --muted-secondary-fg: 220.03 10% 46%; /*gray-500*/

    --accent: 217.2 32.6% 17.5%; /*I don't know*/
    --accent-fg: 210 40% 98%; /*I don't know*/

    --destructive: 360 63% 31%; /*I don't know*/
    --destructive-fg: 358.75 100% 70%; /*I don't know*/
    
    --border: 217.2 32.6% 17.5%;
    --border-pickture: 187.8 100% 48%; /*cyan-400*/

    --chat-explanation: 138.46 77% 97%; /*green-50*/
    --chat-explanation-fg: 147.72 97% 20%; /*green-800*/
    --chat-explanation-border: 141.14 81% 85%; /*green-200*/
    --chat-input: 212.7 26.8% 83.9%;
    --chat-ring: 212.7 26.8% 83.9%;
    --chat-shadow: none 0% 0% / 0.3; /*dark/30*/
    --chat-button-primary: 180 0% 100%; /*white*/
    --chat-button-primary-fg: 240 5.9% 10%;

    /* Skills */
    --skills: 192.77 100% 28.999999999999996%; /*cyan-700*/

    --skills-projects: 195.82 72% 23%; /*cyan-900*/
    --skills-projects-fg: 186.2 96% 81%; /*cyan-200*/

    --skills-primary-fg: 211.97 100% 66%; /*blue-400*/
    --skills-primary: 224.86 67% 33% / 0.2; /*blue-900/20*/
    --skills-primary-border: 216.26 100% 57.99999999999999% / 0.3; /*border-blue-500/30*/

    --skills-secondary-fg: 150.06 96% 45%; /*green-400*/
    --skills-secondary: 145.73 73% 19% / 0.2; /*green-900/20*/
    --skills-secondary-border: 144.07 100% 39% /0.3; /*green-500/30*/

    --skills-tertiary-fg: 272.26 100% 74%; /*purple-400*/
    --skills-tertiary: 274.52 72% 32% / 0.2; /*purple-900/20*/
    --skills-tertiary-border: 273.3 100% 64% / 0.3; /*purple-500/30*/

    --skills-quaternary-fg: 31.79 100% 51%; /*orange-400*/
    --skills-quaternary: 15.99 83% 27% / 0.2; /*orange-900/20*/
    --skills-quaternary-border: 24.65 100% 50% / 0.3; /*orange-500/30*/

    --skills-quinary-fg: 187.8 100% 48%; /*cyan-400*/
    --skills-quinary: 195.82 72% 23% / 0.2; /*cyan-900/20*/
    --skills-quinary-border: 189.48 100% 43% / 0.3; /*cyan-500/30*/

    --skills-senary-fg: 216 13% 84%; /*gray-300*/
    --skills-senary: 216.94 21% 27% / 0.2; /*gray-700/20*/
    --skills-senary-border: 220.03 10% 46% / 0.3; /*gray-500/30*/

    --skills-legende: 216.94 21% 27%; /*gray-700*/
    --skills-legende-fg: 216 13% 84%; /*gray-300*/
  }
}


@keyframes fadeInUp {
  0% { opacity: 0; transform: translateY(40px);}
  100% { opacity: 1; transform: translateY(0);}
}
.animate-fadeInUp {
  animation: fadeInUp 0.8s cubic-bezier(0.23, 1, 0.32, 1) both;
}